# Filtering Data in Python and Pandas
This notebook demonstrates how to filter data using Python and Pandas.

In [ ]:
import pandas as pd

## Filtering a List Using Python
We start by filtering a list of points using basic Python methods.

In [ ]:
# Filtering a list with Python methods
points = [10, 1, 1, 1, 50, 100, 30, 25, 50]
filter_python = []

values_50_plus = []
for i in points:
    filter_python.append(i >= 50)  # Returns boolean values

result = []
for i in range(len(points)):
    if filter_python[i]:  # Adds values where the boolean is True
        result.append(points[i])

result

## Filtering DataFrames Using Pandas
Next, we demonstrate filtering rows in a Pandas DataFrame.

In [ ]:
# Using Pandas
with_pandas = pd.DataFrame(
    {
        "name": ["marceline", "mon cherri", "stacy"],
        "idade": [3, 1, 1],
        "uf": ["sp", "ms", "rj"],
    }
)

filter_pandas = with_pandas["idade"] <= 1  # Returns a boolean series
# The comparison is made with a scalar value

with_pandas[filter_pandas]  # Filters rows where the condition is True

## Filtering Transactions
We now filter transactions based on specific conditions.

In [ ]:
# Transactions
df = pd.read_csv("../data/transactions.csv")
df.head()

In [ ]:
# Filtering transactions with 50 or more points
filter_transaction = df["qtdePontos"] >= 50
df[filter_transaction]

In [ ]:
# Filtering transactions with points between 50 and 100
filter_transaction = (df["qtdePontos"] >= 50) & (df["qtdePontos"] < 100)
# Logical AND is used to combine conditions
df[filter_transaction]

In [ ]:
# Filtering transactions with points equal to 1 or 100
filter_transaction = (df["qtdePontos"] == 1) | (df["qtdePontos"] == 100)
# Logical OR is used to combine conditions
df[filter_transaction]

In [ ]:
# Filtering transactions with points > 10 and <= 50 from 01/01/2025
filter_transaction = ((df["qtdePontos"] > 10) | (df["qtdePontos"] <= 50)) & (df["dtCriacao"] >= "2025-01-01")
df[filter_transaction]

## Filtering Products
We filter products based on specific IDs.

In [ ]:
# Transactions Product
product = pd.read_csv("../data/transaction_product.csv")
product.head(1)

In [ ]:
# Returning products with IDs 5 and 11
product["idProduto"].isin([5, 11])  # Returns a boolean series
product

## Filtering Clients
Finally, we filter clients based on non-null creation dates.

In [ ]:
# Clients
client = pd.read_csv("../data/clients.csv")
client.head(1)

In [ ]:
# Filtering clients with non-null creation dates
filter_client = client["dtCriacao"].notnull()  # notna can also be used
client[filter_client]

In [ ]:
~client["dtCriacao"].isna()  # Negation of NaN (returns non-null values)