# Type Casting in Pandas
This notebook demonstrates how to perform type casting in pandas, including converting data types and handling invalid values.

## Import Required Libraries
We start by importing the necessary libraries.

In [ ]:
import pandas as pd

## Load the Dataset
Load the dataset into a pandas DataFrame for processing.

In [ ]:
df = pd.read_csv("../data/clients.csv")
df.head()

## Type Conversion
Convert the data types of specific columns to ensure consistency and compatibility.

In [ ]:
# Convert 'qtdePontos' column from integer to float
df["qtdePontos"] = df["qtdePontos"].astype(float)

## Handle Invalid Values
Replace invalid date values with a default valid date.

In [ ]:
# Dictionary to replace invalid date values
replace = {"0000-00-00 00:00:00.000": "2024-01-01 09:00:00.000"}

## Convert Strings to Datetime
Use `pd.to_datetime` to convert string values to datetime format after replacing invalid values.

In [ ]:
# Replace invalid values and convert 'dtCriacao' to datetime
df["dtCriacao"] = pd.to_datetime(df["dtCriacao"].replace(replace))
df

## Perform Operations on Datetime Columns
After converting to datetime, use various datetime properties and methods for analysis.

In [ ]:
# Extract year, month name, and date from 'dtCriacao'
df["dtCriacao"].dt.year  # Extract year
df["dtCriacao"].dt.month_name()  # Extract month name
df["dtCriacao"].dt.date  # Extract date