In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "nome": ["Ana", "Bruno", "Ana", "Carlos", "Bruno", "Diana", "Ana", "Carlos", "Bruno"],
    "sobrenome": ["Silva", "Souza", "Silva", "Oliveira", "Souza", "Costa", "Souza", "Oliveira", "Mendes"],
    "salario": [3000, 4500, 3000, 5000, 4700, 4700, 3000, 5000, 4500]
})
df

In [ ]:
# Remove as linhas duplicadas e deixa a primeira ocorrência.
df.drop_duplicates() # É possível escolher entre deixar a primeira ou última ocorrência (keep="last")

In [ ]:
# Ordenar pelo salário
df = (df.sort_values("salario", ascending=False).drop_duplicates(keep="first", subset=["nome", "sobrenome"]))
# Remove os nomes + sobrenome duplicados e deixa a ocorrencia com maior salário
df