# Using SQL with Pandas
This notebook demonstrates how to use SQL queries with Pandas to interact with a database.

## Importing Required Libraries
We start by importing the necessary libraries: `pandas` for data manipulation and `sqlalchemy` for database interaction.

In [ ]:
import pandas as pd
import sqlalchemy

## Connecting to the Database
Here, we create a connection to the SQLite database using SQLAlchemy.

In [ ]:
# Create a connection to the SQLite database
engine = sqlalchemy.create_engine("sqlite:///../data/olist.db")

## Reading a Table into a DataFrame
We use the `read_sql_table` method to load the `tb_customers` table into a Pandas DataFrame.

In [ ]:
# Load the 'tb_customers' table into a DataFrame
clients = pd.read_sql_table(table_name="tb_customers",
                            con=engine)

### Inspecting the DataFrame
Check the shape of the DataFrame to understand the number of rows and columns.

In [ ]:
# Display the shape of the DataFrame
clients.shape

## Executing a Custom SQL Query
We can also execute custom SQL queries using the `read_sql_query` method. Below, we fetch the first 100 rows from the `tb_customers` table.

In [ ]:
# Define a SQL query to fetch the first 100 rows
query = 'SELECT * FROM tb_customers LIMIT 100'

In [ ]:
# Execute the query and load the result into a DataFrame
df_100 = pd.read_sql_query(query, con=engine)
# Display the resulting DataFrame
df_100

### Summary
In this notebook, we demonstrated how to:
- Connect to a database using SQLAlchemy
- Load a table into a Pandas DataFrame
- Execute custom SQL queries and fetch results into a DataFrame

These techniques are useful for integrating SQL and Pandas for data analysis.